<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title> Mediscreen App </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="border-left">
            <button type="button" class="btn btn-outline-info">
                <a href="/patient/list">Return to patient list</a>&nbsp
            </button>
        </div>
    </div>
    <p></p>
    <p class="display-1 blockquote text-center mb-1 bg-primary lead">List of patient note</p>
    <p class="row"> <h4> Patient : <span th:text="${patient.getFirstName()} + ' ' + ${patient.getLastName()} + ' (' + ${patient.getBirthdate()} + ')'"></span></h4><br/>
    <p></p>
    <div class="table-responsive">
        <a class="btn btn-primary btn-sm" th:href="@{/patient/patHistory/add/{id}(id=${patient.getId()})}">Add New Note</a>
        <p></p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Date of note</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note, iStat : ${noteList}" th:style="${iStat.odd}? 'font-weight: normal;'">
                <td style="width: 10%" th:text="${note.dateNote}"></td>
                <td th:text="${note.textNote}"></td>
              <td class="col-sm-4">
                    <a class="btn btn-info btn-sm" th:href="@{/patient/patHistory/update/{id}(id=${note.id})}">Edit</a>
                    <a class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?')" th:href="@{/patient/{id}/patHistory/delete/{noteId}(id=${patient.getId()},noteId=${note.getId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>