<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Mediscreen App </title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>
<div class="row">
    <div class="col-6">
        <h2> WELCOME TO MEDISCREEN HOME PAGE </h2>
        </p>
        <img th:src="@{/images/logo.png}">
        <p>
        <h3> USER MANAGEMENT (ADMIN only) </h3>
        <p>
            <a href="/user/list">User management</a>
        </p>
        <p>
        <h3> VIEW PATIENTS </h3>
            <a href="/patient/list">Patient list</a>&nbsp
        </p>


    </div>
</div>


</body>
</html>